.custom__file {
  width: 500px;
  height: 500px;
  background-color: #fde9ea;
  border: 3px dashed #eb1c24;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #eb1c24;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #f8c1c5;
  }
}

.image__upload {
  display: none;
}
